<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Personal Portfolio</title>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{%static 'infos.css'%}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="header">
            <a href="/info" class="logo">PortFolio.</a>

            <nav class="navbar">
                <a href="/info" class="active">Home</a>
                <a href="/project">Project</a>
            </nav>
        </header>

        <section id="home" class="home">
            <div class="home-content">
                <h1>안녕하세요, 김정현입니다.</h1>
                <h3>Currently Studying on..</h3>
                <p>
                    제 페이지에 오신 것을 환영합니다. 해당 사이트에서는 제가 가진 스킬들과 함께 지금까지 진행했던
                    프로젝트들을 확인해볼 수 있습니다. html, css부터 python 프로젝트까지 다양하게 살펴볼 수 있습니다.
                    앞으로도 업데이트될 예정이니 많은 관심 부탁드립니다.
                </p>
                <div class="btn-box">
                    <a href="/project">Check my Projects</a>
                </div>
            </div>
            <div class="text-content">print<span class="multiple-text">("Hello World!")</span></div>
            <div class="home-sci">
                <a href="https://github.com/jhkimon/jhkimon"><i class="fa-brands fa-github fa-xl"></i></a>
                <a href="https://www.instagram.com/jhkim_922/"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://www.linkedin.com/in/%EC%A0%95%ED%98%84-%EA%B9%80-883a442b2/"
                    ><i class="fa-brands fa-linkedin fa-xl"></i
                ></a>
            </div>
        </section>
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed('.multiple-text', {
                strings: ['', '("Hello World!")'],
                typeSpeed: 100,
                backSpeed: 100,
                loop: true,
            });
        </script>
    </body>
</html>
