<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NEXT Blog</title>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% if category_cnt == 0 %}
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                alert('현재 작성된 글이 없습니다.');
                window.location.href = '{% url "list" %}';
            });
        </script>
        {% endif %}
        <div class="main-home"><img src="{% static 'images/main-banner.png' %}" width="1000" height="200" /></div>
        <div class="category">
            <div class="category-home">
                <span class="category-header">카테고리</span>
                <i class="fa-solid fa-chevron-up fa-2xs"></i>
            </div>
            <div class="category-list">
                <span class="category-container total">
                    <i class="fa-regular fa-file"></i>
                    <a href="/list">전체보기</a>
                    <span> ({{ article_cnt }}) </span>
                </span>
                <span class="category-container">
                    <i class="fa-regular fa-file"></i>
                    <a href="/list/hobby">취미</a>
                    <span> ({{ hobby_cnt }}) </span>
                </span>
                <span class="category-container">
                    <i class="fa-regular fa-file"></i>
                    <a href="/list/food">음식</a>
                    <span> ({{ food_cnt }}) </span>
                </span>
                <span class="category-container">
                    <i class="fa-regular fa-file"></i>
                    <a href="/list/programming">프로그래밍</a>
                    <span> ({{ programming_cnt }}) </span>
                </span>
            </div>
        </div>
        <div class="info">
            <span class="bold-text">전체보기</span>
            <span> {{ article_cnt }}개의 글 </span>
        </div>
        <div class="post">
            <div class="post-category">{{category_kr}}</div>
            <div class="post-title">{{article.title}}</div>
            <div class="post-info">
                <img src="{% static 'images/profile.png' %}" width="30" height="30" />
                <span>김정현</span>
                <span>{{article.write_time}}</span>
                <span class="write">
                    <i class="fa-solid fa-pen"></i>
                    <a href="{% url 'new' %}">새 글 작성</a>
                </span>
            </div>
            <div class="post-content">{{article.content}}</div>
        </div>
        <div class="post-list">
            <div class="post-list-info">
                <span>이 블로그 전체 카테고리 글</span>
                <a href="/list">전체 글 보기</a>
            </div>
            {% for article_lst in total_article %}
            <div class="post-list-title {% if article.id == article_lst.id %}bold-text{% endif %}">
                <a href="{% url 'detail' article_id=article_lst.id %}">
                    <span>{{article_lst.title}}</span>
                </a>
                <span>{{article_lst.write_time}}</span>
            </div>
            {% endfor %}
            <div class="nav-bottom">
                <span>
                    {% if before_article_id %}
                    <a href="{% url 'detail' before_article_id %}">
                        <i class="fa-solid fa-chevron-left fa-2xs"></i>
                        <span>이전 게시글</span>
                    </a>
                    {% endif %}
                </span>
                <span>
                    {% if after_article_id %}
                    <a href="{% url 'detail' after_article_id %}">
                        <span>다음 게시글</span>
                        <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
