{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'main.css'%}" />
{% endblock %}
    <body>
        {% block content %}
        <div class="info">
            <span class="bold-text">{{category_kr}}</span>
            <span> {{ category_cnt }}개의 글 </span>
        </div>
        <!-- Post -->
        {% if article %}
        <div class="post">
            <div class="post-settings">
                <div class="post-category">{{category_kr}}</div>
                {% if user == article.creator %}
                <a href="{% url 'delete-article' article.id %}">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                {% endif %}
            </div>
            <div class="post-title">{{article.title}}</div>
            <div class="post-info">
                <img src="{% static 'images/profile.png' %}" width="30" height="30" />
                <span>{{article.creator}}</span>
                <span>{{article.write_time}}</span>
            </div>
            <div class="post-content">{{article.content}}</div>
        </div>
        <div class="article-footer">
            <div class="count-container">
                <span class="like-cnt">
                    <button class="like-button" onclick="handleLike()">
                        <i class="fa-solid fa-heart" style="color: {{ user_like|yesno:'#ff1f1f,#000000' }}"></i>
                        <span class="like">공감 {{article.likes.count}}</span>
                    </button>
                </span>
                <a href="#comment-form">
                    <span class="comment-cnt">
                        <i class="fa-solid fa-comment"></i>
                        <span>댓글 {{ vaild_comment_cnt }}</span>
                    </span>
                </a>
            </div>
        {% if article.last_viewed_user %}
            <div class="last-viewed">
                <span>최근 열람: {{ article.last_viewed_user.username }} | </span>
                <span>{{ article.last_viewed_time | date:'H:i'}}</span>
            </div>
        {% endif %}
        </div>
        {% endif %}
        <!-- Comment -->
        <div class="comment-container">
            {% for comment in article.comments.all %}
                <div class="comment">
                    <div class="comment-info">
                        <i class="fa-solid fa-circle-user fa-xl"></i>
                        {% if comment.is_deleted %}
                        <div>(삭제)</div>
                        {% else %}
                        <div>{{ comment.creator }}</div>
                        {% endif %}
                    </div>
                    {% if comment.is_deleted %}
                    <div class="comment-content" style="font-weight: 700;">삭제된 댓글입니다.</div> 
                    {% elif user.is_authenticated == False %}
                    <div class="comment-content" style="font-weight: 700;">
                        로그인 이후에 확인 가능합니다.
                    </div>
                    {% elif user != comment.creator and user != article.creator and user != reply.creator and not user.is_superuser and comment.is_secret %}
                    <div class="comment-content" style="font-weight: 700;"> 비밀 댓글입니다. </div>
                    {% else %}
                    <div class="comment-content">
                        {{ comment.content }}
                    </div>
                    {% endif %}
                    <div class="comment-time">
                        <span>{{ comment.write_time|date:'Y.m.d. H:i' }}</span>
                        {% if user == comment.creator or user.is_superuser and not comment.is_deleted %}
                            <a href="{% url 'delete-comment' article.id comment.id %}">| 삭제</a>
                        {% endif %}
                    </div>
                    <div class="point-reply">
                        <span>답글</span>
                    </div>
                    <div class="reply-container-{{comment.id}}">
                        {% for reply in comment.replies.all %}
                        <div class="reply">
                            <i class="fa-solid fa-reply fa-rotate-180"></i>
                            <div class="reply-comment">
                                <div class="comment-info">
                                    <i class="fa-solid fa-circle-user fa-xl"></i>
                                    <div>{{ reply.creator }}</div>
                                </div>
                                {% if user.is_authenticated == False %}
                                <div class="comment-content" style="font-weight: 700;">
                                    로그인 이후에 확인 가능합니다.
                                </div>
                                {% elif user != comment.creator and user != article.creator and user != reply.creator and not user.is_superuser and reply.is_secret %}
                                <div class="comment-content" style="font-weight: 700;"> 비밀 덧글입니다. </div>
                                {% else %}
                                <div class="comment-content">
                                    {{ reply.content }}
                                </div>
                                {% endif %}
                                <div class="comment-time">
                                    <span>{{ reply.write_time|date:'Y.m.d. H:i' }} </span>
                                    {% if user == reply.creator or user.is_superuser %}
                                    <a href="{% url 'delete-reply' article.id comment.id reply.id %}">| 삭제</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                        <!-- Write Reply -->
                        <div class="write-reply">
                            <i class="fa-solid fa-reply fa-rotate-180"></i>
                            <div class="reply-form">
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <div class="input-info">
                                    <label class="bold-text" for="creator - {{ comment.id }}"> <i class="fa-solid fa-circle-user fa-xl"></i></label>
                                    <span style="font-weight: 700;">{% if user.is_authenticated %}{{ user.username }}{% else %}비회원{% endif %}</span>
                                </div>
                                {% if user.is_authenticated == False %}
                                <div onclick="redirectToLogin()">
                                    <textarea id="reply-content-{{ comment.id }}" class="input-content" name="content" cols="100" rows="4" placeholder="회원가입 이후 댓글 작성이 가능합니다." /></textarea>
                                </div>
                                {% else %}
                                <textarea id="reply-content-{{ comment.id }}" class="input-content" name="content" cols="100" rows="4" placeholder="블로그가 더 훈훈해지는 댓글 부탁드립니다." /></textarea>
                                {% endif %} 
                                <div class="submit-container">
                                    <div class="secret">
                                        <input type="checkbox" name="secret" id="reply-secret-{{ comment.id }}"></input>
                                        <span>비밀댓글</span>
                                    </div>
                                    <button type="submit" onclick="submitReply({{ comment.id }})">등록</button>   
                                </div>
                            </div>
                        </div>                
                    </div>
            {% endfor %}
            </div>
            <!-- Write Comment -->
            <div class="comment-form">
                <div class="input-info">
                    <label class="bold-text" for="creator"><i class="fa-solid fa-circle-user fa-xl"></i></label>
                    <span style="font-weight: 700;">{% if user.is_authenticated %}{{ user.username }}{% else %}비회원{% endif %}</span>
                </div>
                <div id="comment-box">
                    {% if user.is_authenticated == False %}
                    <div onclick="redirectToLogin()">
                        <textarea id="comment-content" class="input-content" cols="100" rows="4" placeholder="회원가입 이후 댓글 작성이 가능합니다." /></textarea>
                    </div>
                    {% else %}
                    <textarea id="comment-content" class="input-content" name="content" cols="100" rows="4" placeholder="블로그가 더 훈훈해지는 댓글 부탁드립니다." /></textarea>
                    {% endif %} 
                </div> 
                <div class="submit-container">
                    <div class="secret">
                        <input type="checkbox" id="comment-secret"></input>
                        <label for="secret">비밀댓글</label>
                    </div>
                    <button onclick="submitComment()">등록</button>
                </div>
            </div>              
        <!-- Post List -->
        <div class="post-list">
            <div class="post-list-info">
                <span>이 블로그 {{category_kr}} 카테고리 글</span>
                <a href="{% url 'list' %}">전체 글 보기</a>
            </div>
            {% for article_lst in total_article %}
            <div class="post-list-title {% if article.id == article_lst.id %}bold-text{% endif %}">
                <a href="{% url 'detail' article_id=article_lst.id %}">
                    <span>{{article_lst.title}}</span>
                    <span class="cnt-text">({{article_lst.comment_count}})</span>
                </a>
                <span>{{article_lst.write_time|date:'Y.m.d. H:i'}}</span>
            </div>
            {% endfor %}
            <div class="nav-bottom">
                <span>
                    {% if before_article_id %}
                    <a href="{% url 'detail_category' category=article.category article_id=before_article_id %}">
                        <i class="fa-solid fa-chevron-left fa-2xs"></i>
                        <span>이전 게시글</span>
                    </a>
                    {% endif %}
                </span>
                <span>
                    {% if after_article_id %}
                    <a href="{% url 'detail_category' category=article.category article_id=after_article_id %}">
                        <span>다음 게시글</span>
                        <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function redirectToLogin() {
            alert("회원가입 후에 댓글을 작성할 수 있습니다.");
            window.location.href = "/auth/signup";
        }

        function submitComment() {
            const content = document.getElementById('comment-content').value;
            const is_secret = document.getElementById('comment-secret').checked;
            const creator = "{{user.username}}";
            const time = "{{comment.write_time}}";

            axios.post('/blog/comment', {
                creator: creator,
                content: content,
                is_secret: is_secret,
                article_pk: "{{article.pk}}"
            })
            .then(function (response) {
                let newCommentHtml = `
                    <div class="comment">
                        <div class="comment-info">
                            <i class="fa-solid fa-circle-user fa-xl"></i>
                            <div>${response.data.creator}</div>
                        </div>
                        <div class="comment-content">${response.data.content}</div>
                        <div class="comment-time">
                            <span>${response.data.time}</span>
                            <a href="/blog/delete-comment/{{article.id}}/${response.data.comment_id}">| 삭제</a>
                        </div>
                        <div class="point-reply">
                            <span>답글</span>
                        </div>
                        <div class="write-reply">
                        <i class="fa-solid fa-reply fa-rotate-180"></i>
                        <div class="reply-form">
                            <input type="hidden" name="comment_id" value="${response.data.comment_id}">
                            <div class="input-info">
                                <label class="bold-text" for="creator - ${response.data.comment_id}"> <i class="fa-solid fa-circle-user fa-xl"></i></label>
                                <span style="font-weight: 700;">{% if user.is_authenticated %}{{ user.username }}{% else %}비회원{% endif %}</span>
                            </div>
                            {% if user.is_authenticated == False %}
                            <div onclick="redirectToLogin()">
                                <textarea id="reply-content-${response.data.comment_id}" class="input-content" name="content" cols="100" rows="4" placeholder="회원가입 이후 댓글 작성이 가능합니다." /></textarea>
                            </div>
                            {% else %}
                            <textarea id="reply-content-${response.data.comment_id}" class="input-content" name="content" cols="100" rows="4" placeholder="블로그가 더 훈훈해지는 댓글 부탁드립니다." /></textarea>
                            {% endif %} 
                            <div class="submit-container">
                                <div class="secret">
                                    <input type="checkbox" name="secret" id="reply-secret-${response.data.comment_id}"></input>
                                    <span>비밀댓글</span>
                                </div>
                                <button type="submit" onclick="submitReply(${response.data.comment_id})">등록</button>   
                            </div>
                        </div>
                    </div>        
                `;
                // Input 초기화
                document.getElementById('comment-content').value = '';
                document.getElementById('comment-secret').checked = false;

                // 데이터 업데이트
                document.querySelector('.comment-container').innerHTML += newCommentHtml;
                const commentCntElement = document.querySelector('.comment-cnt div');
                const currentCount = parseInt(commentCntElement.innerText.replace('댓글 ', ''), 10);
                commentCntElement.innerText = `댓글 ${currentCount + 1}`;
            })
            .catch(function (error) {
                console.error('Error posting the comment:', error);
            });
        }

        function submitReply(commentId) {
            const content = document.getElementById(`reply-content-${commentId}`).value;
            const is_secret = document.getElementById(`reply-secret-${commentId}`).checked;
            const creator = "{{ user.username }}";
            const time = "{{reply.write_time}}";
           
            axios.post('/blog/reply', {
                creator: creator,
                content: content,
                is_secret: is_secret,
                comment_pk: commentId,
                article_pk: "{{article.pk}}"
            })
            .then(function (response) {
                let newReplyHtml = `
                    <div class="reply">
                        <i class="fa-solid fa-reply fa-rotate-180"></i>
                        <div class="reply-comment">
                            <div class="comment-info">
                                <i class="fa-solid fa-circle-user fa-xl"></i>
                                <div>${response.data.creator}</div>
                            </div>
                            <div class="comment-content">
                                ${response.data.content}
                            </div>
                            <div class="comment-time">
                                <span>${response.data.time}</span>
                                <a href="/blog/delete-reply/{{ article.id }}/${commentId}/${response.data.reply_id}">| 삭제</a>
                            </div>
                        </div>
                    </div>
                `;
                // Input 초기화
                document.getElementById(`reply-content-${commentId}`).value = '';
                document.getElementById(`reply-secret-${commentId}`).checked = false; 
                // 데이터 업데이트
                document.querySelector(`.reply-container-${commentId}`).innerHTML += newReplyHtml;
            })
            .catch(function (error) {
                console.error('Error posting the reply:', error);
            });
        }
        function handleLike() {
            const likeButton = document.querySelector(".like-button");
            const likeCount = document.querySelector(".like");
            const heart = document.querySelector(".fa-heart");

            axios.post('/blog/like', {
                article_pk: "{{article.pk}}"
            })
            .then(function (response) {
                likeCount.innerHTML = "공감 " + response.data.like_count
                if (response.data.is_like) {
                    heart.style.color = "#ff1f1f";  
                } else {
                    heart.style.color = "#000000"; 
                }
            })
            .catch(function (error) {
                console.error('Error for:', error);
            });
        }
    </script>
    {% endblock %}
</html>