@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b20;
    color: #ededed;
}

/* Headings */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #081b20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    position: sticky;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/* Project  */

.project {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10% 10%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.project h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.dot {
    color: #00abf0;
}

.project-list {
    display: flex;
    flex-direction: row;
}

.project-box {
    padding: 1.5%;
    position: relative;
    display: block;
}

.project-box img {
    margin: 10% 0%;
}

.project-box:hover img {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ededed;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.8s;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

.project-box:hover .project-text {
    opacity: 0.8;
    transition: opacity 0.8s;
}

/* Skill */

.skill-content h2 {
    margin-bottom: 4%;
}

.skill-group {
    display: flex;
    justify-content: flex-start;
    max-width: 400px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00abf0;
    border-radius: 100000px;
    width: 110px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    margin: 2%;
}
