/* Universial Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ededed;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: #333;
}

.bold-text {
    font-weight: 600;
}

/* Main Page */
.main-home {
    border-bottom: solid 5px #333;
    margin: 0% 0.5%;
    width: 80%;
}

.main-home img {
    width: 100%;
}

/* Category List */

.category {
    position: relative;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.category-home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.category-header {
    font-size: 18px;
    font-weight: 700;
}

.fa-chevron-up {
    margin-left: 100px;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.fa-file {
    color: #909090;
}

.category-container {
    padding: 1px;
}

.category-container a {
    font-size: 15px;
    font-weight: 500;
}

.category-container:first-child {
    margin-bottom: 10px;
}

/* Footer */
footer {
    margin-top: 20vh;
    padding: 3% 10%;
    min-height: 15vh;
    position: relative;
    width: 100%;
    background-color: #e7eded;
}

nav a,
.copyright {
    font-weight: 600;
}
