.weather-container {
    text-align: center;
}

.category-buttons {
    margin-bottom: 20px;
}

.search-box {
    margin: 20px 0;
}

select {
    height: 30px;
    font-size: 1rem;
}

.weather-info {
    background: #e2e8f0;
    border: 1px solid #cbd5e0;
    color: #2d3748;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

.weather-info p:before {
    content: '☀️ ';
}

.weather-info p:nth-child(3):before {
    content: '⛱️ ';
}

.weather-info p:nth-child(5):before {
    content: '☁️ ';
}
