.guestbook-reply {
    margin-top: 5px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.replies-list {
    list-style-type: none;
    padding: 0;
}

.reply-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 1px solid #f0f0f0;
}

.entry-info {
    padding: 3px;
}

.reply-user {
    margin: 5px;
}

.delete-reply-button {
    background: none;
}

.delete-reply-button:hover {
    background: none;
}

.delete-icon {
    color: red;
}

.delete-icon:hover {
    cursor: pointer;
    color: #ff4500;
}

.reply-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.reply-input {
    margin-top: 10px;
}

.reply-input textarea {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 5px 0px;
}

.save-reply-button {
    margin: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
