/* Universial Settings */

body {
    width: 390px;
    height: 800px;
    background-color: #000000;
    color: #e6e2e2;
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    border-radius: 100px;
}

/* Fonts */

.account-text {
    font-weight: bold;
    font-size: 16px;
}

.plain-text {
    font-weight: 300;
    font-size: 14px;
    color: #e6e2e2;
}

.interaction-text {
    font-weight: 700;
    font-size: 13px;
}

.story-text {
    font-weight: 500;
    font-size: 11px;
    margin-top: 10%;
    color: #e6e2e2;
}

/* Top Navigation */

.nav-top {
    display: flex;
    width: 390px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.fa-chevron-left {
    padding-left: 2%;
    flex-grow: 1;
}

.account {
    display: flex;
    flex-grow: 3;
    justify-content: center;
}

.account-name {
    margin-right: 5px;
}

.fa-circle-check {
    color: blueviolet;
    padding-top: 1%;
}

.fa-bell,
.fa-ellipsis {
    flex-grow: 0.3;
}

/* Main Info */

.main-info {
    display: flex;
    align-items: center;
}

.stat {
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
    margin: 4%;
}

.large-profile {
    padding: 5px;
    margin-left: 1%;
}

.stat-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Introduction */

.introduction {
    display: flex;
    flex-direction: column;
    margin: 1.5% 2%;
}

.account-intro,
.account-subintro {
    margin: 0.7% 1%;
}

.account-link {
    color: #e6e2e2;
    margin: 1% 1%;
}

.account-link a {
    text-decoration: none;
}

/* Friend */

.friend-list {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.friend-profile {
    display: flex;
    padding-left: 10px;
    margin-right: 10px;
}

.friend-top {
    margin-right: -10px;
    z-index: 3;
    border: 0.5px solid black;
}

.friend-mid {
    margin-right: -10px;
    z-index: 2;
    border: 0.5px solid black;
}

.friend-bottom {
    margin-right: -10px;
    z-index: 1;
    border: 0.5px solid black;
}

.friend-follow {
    margin-left: 1%;
    word-wrap: break-word;
    text-align: left;
}

/* Interaction Keys */

.interaction {
    display: flex;
    width: 390px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.interaction-following,
.interaction-message {
    flex-grow: 2;
    text-align: center;
    line-height: 30px;
    background-color: #282727;
    border-radius: 6%;
    height: 30px;
    margin-left: 2%;
}

.interaction-message {
    margin-right: 2%;
}

/* Instagram Story */

.story {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.story-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-left: 5%;
}

.story-image {
    padding: 5%;
    border: 1px solid grey;
}

/* Posting Navigation */

.nav-posting {
    display: flex;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
}

.selected {
    flex-grow: 1;
    display: flex;
    padding-bottom: 6%;
    margin-left: -2%;
    justify-content: center;
}

.non-selected {
    color: rgb(73, 71, 71);
    flex-grow: 1;
    display: flex;
    padding-bottom: 6%;
    margin-left: -3%;
    justify-content: center;
}

/* Posting */

.posting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.selected-img {
    border-top: 1px solid #e6e2e2;
}

.non-selected-img {
    border-top: 1px solid #000000;
}

/* Bottom Navigation */

.nav-bottom {
    display: flex;
    width: 390px;
    height: 60px;
    justify-content: space-around;
    margin-top: 6%;
}
