@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #fefffe;
    color: #333;
    border: 2px solid #333;
    border-radius: 3%;
    width: 45%;
    height: 80%;
    padding: 3%;
}

a {
    text-decoration: none;
    color: #333;
}

.strikethrough {
    text-decoration: line-through;
}

/* Title */

.title {
    font-size: 18px;
    font-weight: 500;
    width: 87%;
    margin: auto;
    padding: 3% 3% 3% 5%;
    display: flex;
    align-items: center;
}

.title a {
    flex-grow: 1.5;
}

.title fa-circle-info {
    flex-grow: 1;
}

.fa-check {
    margin-right: 2%;
}

.add-task {
    width: 88%;
    height: 5.5%;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    background-color: #f6f7f6;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.add-task a {
    color: #c4c4c4;
}

.add-task span {
    position: relative;
    left: 20%;
}

.greeting {
    font-size: 17px;
    font-weight: 500;
    font-weight: 500;
    width: 85%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 1%;
    border-bottom: 1px solid #333;
    text-align: right;
}
.greeting span {
    min-width: 30%;
}

.greeting span:first-child {
    text-align: left;
}

.date {
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}

.upcoming {
    padding-top: 5%;
}

/* Task */

.task-container {
    width: 85%;
    margin: auto;
    min-height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    padding: 5px 0;
}

.task {
    margin-left: 5%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.no-task {
    font-weight: 500;
}
