@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #fefffe;
    color: #333;
    border: 2px solid #333;
    border-radius: 3%;
    width: 45%;
    height: 80%;
    padding: 3%;
}

a {
    text-decoration: none;
    color: #333;
}

.strikethrough {
    text-decoration: line-through;
}

/* Title */

.title {
    font-size: 18px;
    font-weight: 500;
    width: 87%;
    margin: auto;
    padding: 3% 3% 3% 5%;
    display: flex;
    align-items: center;
}

.title a {
    flex-grow: 1.5;
}

.title fa-circle-info {
    flex-grow: 1;
}

.fa-check {
    margin-right: 2%;
}

/* Task Detail */

.task-detail {
    font-size: 20px;
    font-weight: 500;
    width: 87%;
    margin: auto;
    padding: 3% 3% 3% 3%;
}

.task-container {
    width: 85%;
    margin: auto;
    min-height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    padding: 3% 0;
    font-size: 16px;
    font-weight: 500;
}

.task-title {
    font-size: 18px;
    font-weight: 500;
}

.task-container input,
.task-container textarea {
    width: 70%;
}

/* Navigation */

button {
    width: 85%;
    margin: 1% 7.5%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #333;
    padding: 3%;
    background-color: transparent;
}

.nav {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.nav a {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #333;
    padding: 3%;
    border-radius: 10%;
    background-color: transparent;
}

.nav-home {
    width: 78.5%;
    margin: 1% 7.5%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #333;
    padding: 3%;
    background-color: transparent;
    text-align: center;
}
